<!DOCTYPE html>
<body>
<ion-view view-title="Answer" name="Answer-view">
  <ion-content class="padding">
    
    <div class="card list">
   	<div class="item item-divider">
   		   Card header
 	  </div>
   
  	 <div class="item item-text-wrap">
 	     <p id="demo"></p>
  	 </div>
   
  	 <div class="item item-divider">
	        
		
                <a  href="#/tab/AnswerView">Answer </a>
               
		<button on-tap = "onClickDownvote()" class="button button-assertive">
                upvote
                </button>
  	 </div>
    </div>



  </ion-content>
</ion-view>
</body>
</html>
