
<ion-view view-title="Answer" >
  <ion-content class="padding">
      <div class="list list-inset">
          <div class="card">

             <div class="item item-avatar">
               <img src="img/my-image.jpeg">
               <h2>This is a question</h2>
             </div>

             <div class="item item-body">
                <img class="full-image" src="img/my-image.jpeg">
                The question description goes here.
             </div>
		
             <div class="item item-divider">
		<button on-tap = "onClickAnswerTheQuestion()" class="button button-assertive">
                answer this question
                </button>		
  	     </div>
	     <div>
		<p> 15 Answers</p>
	     </div>
	     <div class="card">
		<div class="item item-body">
			This is the first answer.
		</div>
	     </div>
		
	
          </div>
      </div>
  </ion-content>
</ion-view>

