<!DOCTYPE html>
<body>
<ion-view view-title="Explore" name="Answer-view">
  <ion-content class="padding">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  </button>
   <ul>    
    <li ng-repeat="x in Questions">
    <div class="card list" >
   	<div class="item item-divider">
   		   <h2 >{{x.asked_by}}</h2>
		   <p >{{ x.asked_on}}</p>
 	  </div>
   
  	 <div class="item item-text-wrap">
 	     <p id="demo"  >{{ x.q_detail }}</p>
  	 </div>
         <div class="item tabs tabs-secondary tabs-icon-left">
             <a class="tab-item" on-tap="onClickUpVote(x)">
             <i class="icon ion-thumbsup"></i>
                   upvote {{ x.upvotes}}
             </a>
             <a class="tab-item" on-tap = "onClickAnswer(x)" >
             <i class="icon ion-chatbox"></i>
                  answer
             </a>
            <a class="tab-item" on-tap = "onClickDownVote(x)">
            <i class="icon ion-thumbsdown"></i>
                  downvote {{x.downvotes}}
            </a>
        </div>
  	
    </div>
    </li>

   </ul>

  </ion-content>
  <ion-footer-bar align-title="left" class="bar-balanced">
	<label class="item-input-wrapper">
      <input type="text" ng-model="data.question" placeholder="Ask Question" style="width:100%;height:100%">
    </label>
    <button class="button button-small button-balanced" ng-click="ask_question()">
      Ask
    </button>
</ion-footer-bar>
</ion-view>
</body>
</html>
