<ion-view view-title="Explore" >
  <ion-content class="padding">

 
    <center><p style="font-size:20px">Change Your Settings</p></center>
<div class="list">

<p> <br>Update your Area of Experties </p>
   <label class="item item-input">
   <input type="text" placeholder="Area of Experties" ng-model="data.expertcity">
   </label>
<p> <br> Update your Areas of Interest </p> 
   <label class="item item-input">
   <input type="text" placeholder="Area of Experties" ng-model="data.interestcity">
   </label>

    </div>
    <div>
    <center>
    <button class="button button-balanced" ng-click = "change()">
        Add cities
    </button>
    </center>
        </div>
	
  </ion-content>
  
</ion-view>
