<ion-view view-title="Explore">
  <ion-content class="padding">
   <div class="list card" ng-repeat="s in self">

  <div class="item item-avatar">
    <img src="../img/me.jpg">
    <h2>{{s.username}}</h2>
    <p>{{s.questiondate}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="../img/bg.jpg">
    <p>
      {{s.questioncontent}}
    </p>
    <!--p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p-->
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click="upVote(s)" href="#">
      <i class="icon ion-thumbsup" ></i>
      Like {{votes}}
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" ng-click="downVote(s)"  href="#">
      <i class="icon ion-thumbsdown"></i>
      Unlike {{downvotes}}
    </a>
  </div>
</div>
  </ion-content>
</ion-view>