<ion-view view-title="Explore" class="background">
  <ion-content class="padding">
    <center><p style="font-size:20px">City Guide Application</p></center>
	
<div class="list">
   <p> <br>Name </p> 
   <label class="item item-input">
   <input type="text" placeholder="Enter Name">
   </label>
<p> <br>Age </p> 
   <label class="item item-input">
   <input type="number" placeholder="Age">
   </label>
	<p><br> E-mail </p> 
   <label class="item item-input">
   <input type="text" placeholder="E-mail">
   </label>
<p> <br>Gender </p> 
   <label class="item item-input">
   <input type="text" placeholder="Gender">
   </label>
<p> <br>Area of Experties </p> 
   <label class="item item-input">
   <input type="text" placeholder="Area of Experties">
   </label>
<p> <br>Areas of Interest </p> 
   

</div>
<center>
<button class="button button-balanced">
	Register
</button>
</center>

  </ion-content>
</ion-view>
